/* Optional: Makes the sample page fill the window. */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
.map-container {
  width: 100%;
  position: fixed;
  height: calc(80vh - 158px);
  display: none;
  z-index: 1;
  top: 58px;
}
#map {
    height: 100%;
    border: 2px solid black;
  }
.show {
  display: block;
}
  