button {
    padding: 10px 20px;
    background-color: lightgray;
    border-radius: 10px;
}
li {
    display: flex;
    border-bottom: 1px solid black;
}
nav {
    display: none;
}

span {
    margin-left: auto;
    text-align: right;
    border: 2px solid black;
    padding: 0 10px;
}

