/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
 .map-container {
    height: calc(100vh - 99px);
    margin-top: 58px;
 }
 gmp-map {
    height: 100%;
  }
  