/* Optional: Makes the sample page fill the window. */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}


.map-container {
  height: calc(100vh - 99px);
  margin-top: 58px;
}
#map {
    height: 100%;
  }
  