/* *** GENERAL *** */
button {
    border: none;
    background-color: transparent;
    padding: 0;
}
hr {
    border: 2px solid black;
}

ul {
    list-style: none;
}
section > ul li {
    padding: 30px;
}
li a {
    text-decoration: none;
}

/* *** HEADER *** */
header, footer {
    font-size: 1.1rem;
}
nav svg {
    scale: 1.6;
}
.nav-links {
    display: flex;
    gap: 2rem;
}
.navbar-brand {
    order: 2;
    flex: 1 0 1fr;
}
.navbar-nav {
    order: 1;
    flex: 0 1 1fr;
}
.nav-giorni {
    order: 3;
    flex: 0 1 1fr;
}
.navbar-collapse {
    flex-basis: auto;
}
.map-btn:active {
    scale: 1.1;
}

/* *** MAIN & LISTS *** */
/* ** Order Buttons ** */
.order-buttons-container {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    padding: 1rem;
}
.order-btn-container {
    display: flex;
    justify-content: space-around;
}
.order-btn{
    border: 1px solid black;
    padding: .3rem;
    border-radius: 5px;
    background-color: lightblue;
    margin: 0 .3rem;
}
.order-btn:not(.order-btn[disabled]):hover {
    scale: 1.05;
}
.order-btn:active {
    scale: 1;
}
.order-btn-active {
    color: white;
    background-color: #0000c9;
}
/* ** Titles ** */
#title-type, #title-type ~ p {
    text-align: center;
}
.titles-on-map {
    height: 40px;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.646);
    bottom: 35%;
    z-index: 4;
    left: 0;
    color: white;
    display: flex;
    align-items: end;
    gap: .5rem;
    padding: .3rem;
}
.titles-on-map h1 {
    font-size: 1.5rem;
}
.titles-on-map h1, p, h3 {
    margin-bottom: 0;
}


/* ** Bank list container ** */

.bank-list-on-map {
    position: fixed;
    bottom: 25px;
    height: calc(20% + 60px);
    background-color: rgb(255, 255, 255);
    left: 5px;
    width: 100%;
    padding-top: 58px;
    overflow: scroll;
}

.accordion ul, ol {
    padding-left: 0;
}
.accordion li {
    border-radius: .8rem;
    margin-bottom: 3px;
    padding: 5px;
    position: relative;
}
.accordion div {
    border-left: 0.5px solid gray;
    padding-left: .3rem;
}
.accordion li h4 {
    border-radius: 0.4rem;
    padding: 0.2rem;
    background-color: #083c6deb;
    color: white;
}
.accordion li h4:hover {
    background-color: #083c6dc2;
}
.accordion li span {
    margin-right: 1rem;
    font-weight: bold;
    margin-left: 3px;
}
.accordion li button {
    float: right;
}
.accordion img {
    width: 100%;
}
.delete-btn {
    position: absolute;
    color: #ff6767;
    top: 6px;
    right: 5px;
    font-weight: bold;
    font-size: 1rem;
    padding: .2rem .6rem;
    background-color: rgb(228 228 228 / 12%);
    border-radius: 5px;
}
.accordion li button:active {
    scale: 1.1;
}
.Cont-M {
    background-color: #99f9ff91;
}
.Cont-P {
    background-color: rgba(255, 166, 0, 0.639);
}
.CmRp {
    background-color: lightgoldenrodyellow;
} 
.R {
    background-color: #53f15370;
}
.Extra {
    background-color: #cc0000b0;
    color: white;
}
.done::before {
    content: '\2705';
    margin-right: .5rem;
    font-size: 0.95rem;
}
.info {
    display: none;
    position: relative;
}

/* *** LEGENDA *** */
.legend {
    position: absolute;
    top: 0;
    right: 0;
}
.legenda li {
    padding: 1rem;
}
.list-icon {
    max-width: 30px;
}

/* *** GENERAL INFO MODAL */
.info-g-text-container p {
    border-bottom: 1px dotted black;
    padding: 1rem;
}

/* *** FOOTER *** */
footer a {
    color: white;
    text-decoration: none;
}
footer .dropdown-item {
    font-weight: bold;
}


@media (max-width: 790px) {
    .container {
        max-width: 100%;
    }
    body {
        font-size: 0.9rem;
    }
    .accordion li {
        padding-bottom: 1rem;
    } 
    section > ul li {
        padding: 10px;
    }
    .list-icon {
        max-width: 15px;
        padding: 0.01rem;
    }
    footer .btn {
        font-size: 0.8rem;
    }
}